<?xml version="1.0" encoding="utf-8"?>
<Game configVersion="0">
  <Identity Name="TestClientApp" Publisher="CN=Publisher" Version="1.0.0.0"/>

  <ExecutableList>
    <Executable Name="TestClientApp.exe" Id="Game"/>
  </ExecutableList>

  <ShellVisuals DefaultDisplayName="TestClientApp"
                PublisherDisplayName="PublisherName"
                Square480x480Logo="LargeLogo.png"
                Square150x150Logo="GraphicsLogo.png"
                Square44x44Logo="SmallLogo.png"
                Description="TestClientApp"
                ForegroundText="light"
                BackgroundColor="#000040"
                SplashScreenImage="SplashScreen.png"
                StoreLogo="StoreLogo.png"/>

</Game>

